<html>
  <head>
    <title>Game Visualization</title>
  </head>
  <body>
    <input type="file" id="logfile" name="logfile"/>
    <br/>
    <canvas id="screen"></canvas>
    <span id="index"></span>
    <button id="back">&laquo;</button>
    <button id="next">&raquo;</button>
    <table>
      <th>
          <td>Params</td>
          <td>Players</td>
          <td>Standings</td>
          <td>Rockets</td>
          <td>Meteorites</td>
      </th>
      <tr>
          <td><dl id="params"></dl></td>
          <td><ul id="players"></ul></td>
          <td><ul id="standings"></ul></td>
          <td><ul id="rockets"></ul></td>
          <td><ul id="meteorites"></ul></td>
      </tr>
    </table>
    <script src="main.js"></script>
  </body>
</html>
